{% extends 'base.html.twig' %}

{% block title %}Edit PlaylistCategory{% endblock %}

{% block body %}
    <h1>Edit PlaylistCategory</h1>

    {{ include('playlist_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_playlist_category_index') }}">back to list</a>

    {{ include('playlist_category/_delete_form.html.twig') }}
{% endblock %}
