{% extends 'base.html.twig' %}

{% block title %}New PlaylistCategory{% endblock %}

{% block body %}
    <h1>Create new PlaylistCategory</h1>

    {{ include('playlist_category/_form.html.twig') }}

    <a href="{{ path('app_playlist_category_index') }}">back to list</a>
{% endblock %}
